/* import font : noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* default application variable */
:root {
    --app-header-height: 100px;
    --app-sidebar-width: 300px;
}

/* default init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

ol, ul {
    list-style: none;
}

label {
    cursor: pointer;
}

[none] {
    display: none;
}

/* app container */
#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* icon size */
.leadIcon {
    font-size: 1.4em;
}

.buttonIcon:not[disabled],
.buttonIcon:not.disabled {
    cursor: pointer;
}

.buttonIcon[disabled],
.buttonIcon.disabled {
    color: rgba(0,0,0,.4);
}